/* dark theme styles */ 

 .darkTheme.mapBlock > div {
  display: block;
  background-color: #151515CC;
  position: absolute;
  width: 100%;
  height: 350px;
  top: 0; 
  left: 0; 
  pointer-events: none;
  border-radius: 11px;
}  

/* */

.mapBlock {
  position: relative;
  
}

.googleMap {
  width: 100%;
  height: 350px;
  border: none;
  border-radius: 12px;
}